:root {
	--background-color1: black;
	--text-color: white;
	--neon1: rgb(0, 204, 255);
	--neon2: rgb(234, 0, 255);
	--neon3: rgb(30, 255, 0);
	--glow-text: #cbf5ff;
}

/*SITE SPACING*/
html {
	overflow-x: hidden;
	overflow-y: hidden;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scroll-padding: 0 25px;

	font-size: 62.5%;
}

body {
	max-height: 100vh;
	margin: 0;

	font-family: Arial;
	color: var(--text-color);
	background-color: var(--background-color1);
	font-size: 1.5em;
}

.container {
	display: grid;
	grid-auto-flow: column;
	height: 90vh;
}

.scroll-area {
	width: 100vw;
	max-width: 60%;
	margin: 100px auto;

	display: flex;

	scroll-snap-align: center;

	animation: switch-screens linear;
}

.scroll-area:focus {
	outline: none;
}

.content {
	height: 70vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

.first-button {
	grid-row: 2;
	display: flex;
	justify-content: end;
}
.buttons {
	grid-row: 2;
	display: flex;
	justify-content: space-between;
}

.contact-links {
	display: flex;
	flex-direction: column;
}

@media (width < 1000px) {
	.scroll-area {
		max-width: 90%;
	}

	.project-img {
		display: none;
	}
	.contact {
		margin-left: 50px;
	}
}

@keyframes switch-screens {
	to {
		scale: 0.5;
	}

	from {
		scale: 1.5;
	}
}
/*NEON EFFECTS*/
h1 {
	padding: 2rem 4rem;
	text-align: center;
	margin-bottom: 1.2rem;

	position: relative;

	font-size: 8rem;
	font-weight: 400;

	color: var(--text-color);
	text-shadow: 0 0 5px var(--neon1), 0 0 10px var(--neon1),
		0 0 20px var(--neon1), 0 0 40px var(--neon1), 0 0 60px var(--neon1);

	border: solid 5px var(--text-color);
	border-radius: 15px;
	box-shadow: 0 0 5px var(--neon1), 0 0 10px var(--neon1), 0 0 20px var(--neon1),
		0 0 40px var(--neon1), inset 0 0 5px var(--neon1),
		inset 0 0 10px var(--neon1), inset 0 0 20px var(--neon1),
		inset 0 0 30px var(--neon1);
}

h1::before,
h2::before {
	content: "";
	position: absolute;
	background: var(--neon1);
	left: 0;
	width: 100%;
	height: 100%;
}

h1::before {
	top: 160%;

	transform: perspective(1em) rotateX(40deg) scale(1, 0.4);
	filter: blur(5em);
}

h2 {
	margin-right: 40px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: 7rem;
	font-weight: 400;
	height: 70vh;
	position: relative;

	color: var(--text-color);
	text-shadow: 0 0 5px var(--neon1), 0 0 10px var(--neon1),
		0 0 20px var(--neon1), 0 0 40px var(--neon1), 0 0 60px var(--neon1);

	border: solid 5px var(--text-color);
	border-radius: 15px;
	box-shadow: 0 0 5px var(--neon1), 0 0 10px var(--neon1), 0 0 20px var(--neon1),
		0 0 40px var(--neon1), inset 0 0 5px var(--neon1),
		inset 0 0 10px var(--neon1), inset 0 0 20px var(--neon1),
		inset 0 0 30px var(--neon1);
}

h2::before {
	top: 60%;

	transform: perspective(2em) rotateX(60deg) scale(1, 0.05);
	filter: blur(4em);
}

.next-btn {
	font-size: 2.5rem;
	padding: 15px auto;
	width: 6em;
	margin: 5px;
	line-height: 80px;

	opacity: 0.8;
	transition: opacity 200ms ease-in-out;

	text-decoration: none;
	text-align: center;
	position: relative;
	color: var(--text-color);
	background-color: transparent;
	text-shadow: 0 0 5px var(--neon2), 0 0 10px var(--neon2),
		0 0 20px var(--neon2), 0 0 40px var(--neon2), 0 0 60px var(--neon2);

	border: solid 5px var(--text-color);
	border-radius: 15px;
	box-shadow: 0 0 5px var(--neon2), 0 0 10px var(--neon2), 0 0 20px var(--neon2),
		0 0 40px var(--neon2), inset 0 0 5px var(--neon2),
		inset 0 0 10px var(--neon2), inset 0 0 20px var(--neon2);
}

.next-btn::before {
	content: "";
	position: absolute;
	background: var(--neon2);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: perspective(2em) translateY(155%) rotateX(50deg) scale(1, 0.05);
	filter: blur(4em);
}

.contact-button {
	opacity: 0.8;
	transition: opacity 200ms ease-in-out;
	width: 160px;
	height: 80px;
	line-height: 80px;
	text-decoration: none;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	font-size: 25px;
	color: var(--text-color);
	background-color: transparent;
	text-shadow: 0 0 5px var(--neon3), 0 0 10px var(--neon3),
		0 0 20px var(--neon3), 0 0 40px var(--neon3), 0 0 60px var(--neon3);

	border: solid 5px var(--text-color);
	border-radius: 15px;
	box-shadow: 0 0 5px var(--neon3), 0 0 10px var(--neon3), 0 0 20px var(--neon3),
		0 0 40px var(--neon3), inset 0 0 5px var(--neon3),
		inset 0 0 10px var(--neon3), inset 0 0 20px var(--neon3);
}

.next-btn:hover,
.contact-button:hover {
	opacity: 1;
}

.next-btn:focus,
.contact-button:hover {
	outline: none;
}

h3 {
	font-size: 2.5rem;
	font-weight: 200;
	background-image: linear-gradient(var(--neon1) 0%, var(--glow-text) 70%);
	background-clip: text;
	color: transparent;
	margin-top: 0;
}

/*TITLE PAGE*/
.title-next {
	grid-row: 2;
}

/*ABOUT PAGE*/
.about-text1,
.about-text2 {
	width: 50%;
}

.about-text2 {
	float: right;
	text-align: right;

	background-image: linear-gradient(
		to right,
		var(--glow-text) 0%,
		var(--text-color) 100%
	);
	background-clip: text;
	color: transparent;
}

.about-text1 {
	background-image: linear-gradient(
		to right,
		rgba(0, 204, 255, 0.7) 0%,
		var(--glow-text) 40%,
		var(--glow-text) 100%
	);
	background-clip: text;
	color: transparent;
}

/*PROJECT PAGE*/

.project-main {
	display: flex;
	flex-direction: column;
}
.about-project {
	display: flex;
}
.project-img {
	width: 400px;
	background-image: linear-gradient(
			to right,
			rgba(0, 204, 255, 0.2) 0%,
			transparent 50% transparent 100%
		),
		url(/src/weatherApp.png);
	transition-duration: 1s;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}

.project-list-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 10px;
}
.project-list {
	padding: 25px;
	width: 200px;
	border: solid 1px var(--text-color);
	border-radius: 15px;
	color: white;
	text-decoration: none;
	margin-bottom: 5px;
}

.project-list:hover {
	scale: 1.01;
}

.project-description {
	margin-top: 10px;
	background-image: linear-gradient(
		to right,
		rgba(0, 204, 255, 0.7) 0%,
		var(--glow-text) 20%,
		var(--glow-text) 100%
	);
	background-clip: text;
	color: transparent;
}

/*CONTACT PAGE*/
.contact {
	margin-right: 400px;
}

@media (width < 700px) {
	html {
		overflow-y: scroll;
		overflow-x: hidden;
		scroll-snap-type: y mandatory;
		width: 334px;
	}

	body {
		position: relative;
	}

	.container {
		grid-auto-flow: row;
		height: fit-content;
	}

	.scroll-area {
		scroll-snap-align: start;
		height: 100vh;
		margin: 0 auto;
		padding-top: 70px;
		width: 90%;
		max-width: 90%;
	}

	.scroll-area:focus {
		outline: none;
	}

	.content {
		width: 100%;
	}

	.contact {
		margin-right: 0;
	}

	.next-btn {
		display: none;
	}

	.project-list {
		width: 100%;
		font-size: small;
	}

	.about-text1,
	.about-text2 {
		width: 100%;
	}

	h1 {
		padding: 1rem 2rem;
		margin: 40px auto;
		width: 100%;
	}

	h1,
	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}
}
